.content {
	display: flex;
	flex-wrap: wrap;
}

.plp {
	font-family: Raleway;
	background-color: white;
}
.category_name {
	font-family: Raleway;
	font-style: normal;
	font-weight: normal;
	font-size: 42px;
	line-height: 160%;
	margin-bottom: 100px;
	padding-top: 59px;
}
